@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Tangerine&display=swap');
h1{
  color:rgb(108, 192, 108);
  font-size:80px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
label{
  color: rgb(18, 156, 18)
}
.form {
 text-align: center;
}
input[type=text]{
width: 20%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

input[type=submit]{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: white;
  background-color:blue;
  box-shadow: 10px 10px white #34495E;
}
.sbmt{
  text-align: center;
}
.para{
  font-size: 20px;
  color:white
  
} 
img{
  width:150px;
  height:150px;
  border-radius:50%
}
#img{
  margin-left: 150px;
}
#last{
  font-family:'Tangerine', cursive
}
#final{
  font-size: 40px;
}
#flex{
  display:flex;
}

strong{
  color:rgb(18, 156, 18)
}
.container{
  background-image: url(https://images.unsplash.com/photo-1483420271638-cc2e1e9c441e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
}